body{
  background: linear-gradient(45deg, rgb(100, 100, 128), rgba(255, 255, 255, 0.712));
}
.nav{
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  background: black;
  
}
.nav a{
  color: white;
}
.name{
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
hr{
  margin-bottom: 20px;
}
.profiles{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: linear-gradient(45deg, grey white);
}
ul{
  box-shadow: 2px 2px 5px 1px black;
margin: 20px;
padding: 20px;

}
li{
  list-style: none;
  width: 250px;
}